name: Deploy to S3

on:
  push:
    branches:
      - main  # Dispara quando fizer push na branch main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'  # Ajuste conforme sua versão do Node

    - name: Install dependencies
      run: npm ci

    - name: Build Angular app
      run: npm run build -- --configuration production

    - name: Deploy to S3
      uses: jakejarvis/s3-sync-action@master
      with:
        args: --delete
      env:
        AWS_S3_BUCKET: 'jlqca'  # SUBSTITUA pelo nome do seu bucket
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: 'us-east-1'  # Ajuste conforme sua região
        SOURCE_DIR: 'dist/projeto-angular/browser'  # Ajuste o caminho correto
